_*
!__init__.py
info.py
.*
!.gitignore
train.csv
test_file.txt
*.json
*.sqlite3
User-Interface/media/uploads/
User-Interface/databases/*.sqlite3
User-interface/static/fonts/
PvtInfo
attachments
databases
keys
