<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    {% load custom_filters %}
    <link rel="stylesheet" href="{% static '/css/upload.css' %}">
    <style>
        body {
            font-family: "Montserrat", sans-serif;
        }
    </style>
    <title>Upload and Download | Nexus</title>
</head>
<body>
    <div class="upload-form">
      <form method="post" enctype="multipart/form-data" action="{% url 'upload_file' %}">
        {% csrf_token %}
        <div class="inputField">
            <label for="nameInput">
                File Name:
                <input id="nameInput" type="text" name="name" required autocomplete="off">
            </label>
        </div>
        <div class="inputField">
            <label for="nameInput">
                Username:
                <input type="text" name="user" autocomplete="off">
            </label>
        </div>
        <div class="inputField">
            <label for="fileInput" id="fileInputLabel">
                Select File
                <input type="file" id="fileInput" name="file" required autocomplete="off">
            </label>
        </div>
        <div class="inputField">
            <input class="button" type="submit" value="Upload">
        </div>
      </form>
    </div>
    <table class="content-table">
        <thead>
            <tr id="header">
                <th>ID</th>
                <th>Name</th>
                <td>Uploaded By</td>
                <td>Available until</td>
                <th>Download</th>
            </tr>   
        </thead>
        <tbody>
            {% for file in files %}
                <tr>
                    <td> {{forloop.counter}} </td> 
                    <td> {{file.name}} </td>
                    <td> {{file.user}} </td>
                    <td> {{file.available_until}} </td>
                    <td><b><a href="{% url 'download' file_id=file.id %}">Download</a></b></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>