<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload_bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload_style.css' %}">

    <!-- Style -->

    <title>Table #8</title>
  </head>
  <body>
    <div class="uploadform">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
      </form>
    </div>

  <div class="content">
    
    <div class="container">
      <h2 class="mb-5">Table #8</h2>
      

      <div class="table-responsive custom-table-responsive">

        <table class="table custom-table">
          <thead>
            <tr>  
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Download</th>
            </tr>
          </thead>
          <tbody>
            {% for file in files %}
              <tr scope="row">
                <td> {{file.id}} </td> 
                <td> {{file.name}} </td> 
                <td><b><a href="{% url 'download' file_id=file.id %}">Download File</a></b></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>


    </div>

  </div>
    
    

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>