body {
    background-color: #F5EDF0;
}


.upload-form {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    border-collapse: collapse;
    background-color: #7161EF;
    padding: 30px;
    border-radius: 10px;
}

.button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid black;
    font-family: "Montserrat" sans-serif;
}

input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0 10px 0;

}

.inputField label {
    display: inline-block;
    width: 200px;
}

label {
    cursor: pointer;
}

#fileInput {
    display: none;
}

#fileInputLabel {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0 5px 0;
}

.content-table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    margin: 25px 0px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0 ;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #190933;
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;

}

#header {
    text-align: center;
}

.content-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-last-of-type(even) {
    background-color: #fffffc;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #001011;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #3a4454;
}

a {
    color: #001011;
}