@import url("https://fonts.googleapis.com/css2?family=Montserrat");

body {
    background-color:rgb(31, 29, 39);
    color: #eee;
    font-size: 1.125rem;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    width: min(900px, 100% - 3rem);
    margin-inline: auto;
}

table {
    width: 100%;
    background-color: #323232;
    border-collapse: collapse;
    border-radius: 20px;

}

h1 {
    text-align: center;
    text-decoration: underline;
}

caption, th, td {
    padding: 1rem;
}

caption, th, td {
    text-align: center;
}

caption {
    bottom: hsl(0 0% 0%);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
}

th {
    background: hsl(0 0% 0% / .5);
}

tr:nth-of-type(2n) {
    background: hsl(0 0% 0% / .1);
}

a {
    color: #eee;
    text-decoration: underline;
}

a:hover {
    color: #4b9aef;
}

a:active {
    color:#4977ec
}

.upload {
    background-color: rgba(31, 29, 39, .6);
}

@media (max-width: 650px) {
    th, [data-cell="id"], [data-cell="owner"], [data-cell="availability"] {
        display: none;
    }

    [data-cell="name"] {
        content: "File Name:";
    }

    td {
        display: block;
        gap: .5rem;
        padding: .75rem 1rem;
    }


    td:first-child {
        padding-top: 1rem
    }

    td:last-child {
        padding-bottom: 1rem;
    }

    td:not(.upload, .download)::before {
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }
}