body {
    background-color:rgb(26, 25, 29);
    background-image: linear-gradient(to right, rgb(42, 44, 50), rgb(26, 25, 29));

}

h1 {
    text-align: center;
    text-decoration: underline;
    color:#fffffc;
    margin: 70px;
    font-size: 4em;
}

.content-table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    margin: 25px 0px;
    font-size: 18px;
    min-width: 800px;
    height: 170px;
    border-radius: 5px 5px 0 0 ;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: rgb(48, 50, 66);
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 22px 25px;
    text-align: center;
    font-size: 1.3em;

}

#header {
    text-align: center;
}

.content-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-last-of-type(even) {
    background-color: #fffffc;
}

.content-table tbody tr:last-of-type{
    text-align: center;
    border-bottom: 2px solid #454ADE;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #3a4454;
}


#newFile {
    color: white;
}

#newFile:hover {
    color:#454ADE;
}

a {
    color: #001011;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #454ADE;
}
