@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

:root {
    --white: #F0F4EF;
    --grey: #29323D;
    --dark-blue: #191E2E;
    --main-accent: #4A63D3;
    --main-accent-30: rgba(74, 99, 211, .3);
    --success: #4AD370;
    --success-teal: #4AD3C2;
    --warning: #EE4266;
    --primary-light-text: #F0F4EF;
    --primary-light-text-70: rgba(240, 244, 239, .7);
    --primary-dark-text: #29323D;
    --primary-dark-text-90: rgba(41, 50, 61, .9);
    --primary-dark-text-85: rgba(41, 50, 61, .85);
    --secondary-dark-text: #191E2E;
    --primary-negative-text: #EE4266;
    --primary-positive-text: #4AD370;
    --primary-indication-text: #71FFFF;
}


* {
    font-family: 'Poppins', sans-serif;
    transition: all .3s ease-in-out;
    letter-spacing: 1px;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.125rem;
    line-height: 1.5;
}
