body {
    color: var(--white);
}

a {
    color: var(--white);
    text-decoration: none;
    transition: color .3s ease-in-out;
}

a:hover, a:focus {
    color: var(--primary-indication-text);
    transition: color .3s ease-in-out;
}

nav {
    font-size: 24px; /* approx 1.2 vw for responsive text*/
    z-index: 10000000000000000000;
    background-color: var(--grey);
    position: absolute;
    text-align: center;
    min-width: 10%;
    max-width: 10%;
    height: 100%;
    padding: 2rem;
    font-weight: 300;
}


.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list a {
    display: flex;
    align-items: center;
}
.nav-icon {
    height: 30px;
    margin-right: 1rem;
    width: 30px;
}

.nav-item {
    margin-bottom: 48px;
}

.user-status {
    font-size: 15px; /* .73vw for responsive text */
    color: var(--primary-light-text-70);
}

.user-info {
    margin-bottom: 55px;
}

#user-pic img {
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    box-shadow: 1px 1px 11px 3px rgba(25,30,46,0.63);
}


#user-pic {
    margin-bottom: 1rem;
}

#logout-item:hover, #logout-item:focus {
    opacity: .9;
}

#logout-item a{
    color: var(--primary-negative-text);
    font-weight: 500;
    text-decoration: none;
}

#logout-icon {
    fill: var(--warning);
}