<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
</head>
<body>
   <form method='post' action="{% url 'upload-file' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input">
        <label for="owner">Owner: </label>
        <select name="owner" id="owner">
            {% for user in users %}
            <option value="{{forloop.counter}}">{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="input">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name">
    </div>
    <div class="input">
        <label for="file" id="fileInput">Upload File</label>
        <input type="file" name="file" id="file">
    </div>
    <input type="submit" value="submit">
   </form> 
</body>
</html>